# SERVER
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev

# DATABASE
DB_URL=jdbc:postgresql://localhost:5432/smart-home-system
DB_NAME=smart-home-system
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION=3600000

# MQTT
MQTT_BROKER_URL=tcp://io.adafruit.com:1883
MQTT_USERNAME=your_mqtt_username
MQTT_KEY=your_mqtt_key
MQTT_CLIENT_ID=spring-backend-client-dev
MQTT_TOPICS=${MQTT_USERNAME}/feeds/+

# LOGGING
LOG_PATH=logs
LOG_FILE=smart-home-system.log
LOG_LEVEL=DEBUG
